/*@tailwind base;*/
@tailwind components;
@tailwind utilities;

*,
::before,
::after {
    box-sizing: border-box; /* 1 */
    border-width: 0; /* 2 */
    border-style: solid; /* 2 */
}

/* width */
.custom-scroll::-webkit-scrollbar {
    width: 8px;
}

/* Track */
.custom-scroll::-webkit-scrollbar-track {
    background: rgba(192, 192, 192, 0.23);
}

/* Handle */
.custom-scroll::-webkit-scrollbar-thumb {
    background: #c0c0c0;
    border-radius: 6.5px;
}

/* Handle on hover */
.custom-scroll::-webkit-scrollbar-thumb:hover {
    background: #c0c0c0;
}

select:disabled{
    opacity: 0.2;
}

.dtc-button{
    border: none;
}

.dtc-ul{
    list-style: none;
}

.dtc-ul li a{
    text-decoration: none;
}

.dtc-a{
    text-decoration: none;
}

.dtc-p{
   margin: 0;
}

.dtc-h5{
    display: flex;
    margin-bottom: 0.5rem;
    color: #6B7280;
    font-weight: 600;
    letter-spacing: -0.025em;
    white-space: nowrap;
    align-items: center;
}

.dtc-html {
    line-height: 1.5; /* 1 */
    -webkit-text-size-adjust: 100%; /* 2 */
    -moz-tab-size: 4; /* 3 */
    tab-size: 4; /* 3 */
    font-family: theme('fontFamily.sans', ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"), serif; /* 4 */
    font-feature-settings: theme('fontFamily.sans[1].fontFeatureSettings', normal); /* 5 */
    font-variation-settings: theme('fontFamily.sans[1].fontVariationSettings', normal); /* 6 */
}


.dtc-body {
    margin: 0; /* 1 */
    line-height: inherit; /* 2 */
}


.dtc-table {
    text-indent: 0; /* 1 */
    border-color: inherit; /* 2 */
    border-collapse: collapse; /* 3 */
}

.dtc-table tr{
    border-bottom: 0.5px solid #f5f5f5;
}

.dtc-button,
.dtc-select {
    text-transform: none;
}


[type='search'] {
    -webkit-appearance: textfield; /* 1 */
    outline-offset: -2px; /* 2 */
}


/*ol,*/
/*ul,*/
/*menu {*/
/*    list-style: none;*/
/*    margin: 0;*/
/*    padding: 0;*/
/*}*/



img,
video {
    max-width: 100%;
    height: auto;
}


.dtc-active{
    background-color: #f5f5f5;
    border-radius: 8px;
}

.dtc-input{
    border:1px solid #f5f5f5!important;
    background-color: #fff!important;
}

.dtc-select-item{
    border:0.5px solid #c0c0c0!important;
    color: #2e2d2d;
}

.dtc-textarea{
    background-color: #fff;
    border:0.5px solid #c0c0c0!important;

}

.h-screen{
    margin-left: -23px;
}

.dtc-modal{
    background-color: #f5f5f5;
    box-shadow: 10px 25px 20px #2e2d2d;
}

.dtc-select{
    background-color: #fff;
}

.dtc-info-card{
    background-color: #f5f5f5;
}

.peer:checked ~ .peer-checked\:after\:translate-x-full::after {
    content: var(--tw-content);
    --tw-translate-x: 100%;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

 .peer:checked ~ .peer-checked\:after\:border-white::after {
     content: var(--tw-content);
     --tw-border-opacity: 1;
     border-color: rgb(255 255 255);
 }