/*@tailwind base;*/
@tailwind components;
@tailwind utilities;

*,
::before,
::after {
    box-sizing: border-box; /* 1 */
    border-width: 0; /* 2 */
    border-style: solid; /* 2 */
}

/* width */
.custom-scroll::-webkit-scrollbar {
    width: 8px;
}

/* Track */
.custom-scroll::-webkit-scrollbar-track {
    background: rgba(192, 192, 192, 0.23);
}

/* Handle */
.custom-scroll::-webkit-scrollbar-thumb {
    background: #c0c0c0;
    border-radius: 6.5px;
}

/* Handle on hover */
.custom-scroll::-webkit-scrollbar-thumb:hover {
    background: #c0c0c0;
}

select:disabled{
    opacity: 0.2;
}

.dtc-button{
    border: none;
}

.dtc-ul{
    list-style: none;
}

.dtc-ul li a{
    text-decoration: none;
}

.dtc-a{
    text-decoration: none;
}

.dtc-p{
   margin: 0;
}

.dtc-h5{
    display: flex;
    margin-bottom: 0.5rem;
    color: #6B7280;
    font-weight: 600;
    letter-spacing: -0.025em;
    white-space: nowrap;
    align-items: center;
}

.dtc-html {
    line-height: 1.5; /* 1 */
    -webkit-text-size-adjust: 100%; /* 2 */
    -moz-tab-size: 4; /* 3 */
    tab-size: 4; /* 3 */
    font-family: theme('fontFamily.sans', ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"), serif; /* 4 */
    font-feature-settings: theme('fontFamily.sans[1].fontFeatureSettings', normal); /* 5 */
    font-variation-settings: theme('fontFamily.sans[1].fontVariationSettings', normal); /* 6 */
}


.dtc-body {
    margin: 0; /* 1 */
    line-height: inherit; /* 2 */
}


.dtc-table {
    text-indent: 0; /* 1 */
    border-color: inherit; /* 2 */
    border-collapse: collapse; /* 3 */
}

.dtc-table tr{
    border-bottom: 0.5px solid #c7c7c763 ;
}

.dtc-button,
.dtc-select {
    text-transform: none;
}


[type='search'] {
    -webkit-appearance: textfield; /* 1 */
    outline-offset: -2px; /* 2 */
}


img,
video {
    max-width: 100%;
    height: auto;
}


.dtc-ul-general li{
    border-radius: 8px;
    border: 1px solid #f5f5f5;
}

.dtc-ul-general li:hover{
    border-radius: 8px;
    border: 1px solid #c7c7c790;
}

.dtc-active{
    background-color: #fff;
    border-radius: 8px;
    border:1px solid #c7c7c790!important;
}

.dtc-input{
    border:1px solid #f5f5f5!important;
    background-color: #fff!important;
}

.dtc-nav{
    background-color: #f5f5f5;
}

.dtc-select-item{
    border:0.5px solid #c0c0c0!important;
    color: #2e2d2d;
    background-color: #fff;
}

.dtc-textarea{
    background-color: #fff;
    border:0.5px solid #c0c0c0!important;

}

.h-screen{
    margin-left: -25px;
    background-color: #f5f5f5;
}

.dtc-modal{
    background-color: #f5f5f5;
    box-shadow: 10px 25px 20px #2e2d2d;
}

.dtc-google-button{
    padding: 10px 40px;
}

.dtc-select{
    background-color: #fff;
}

.dtc-info-card{
    background-color: #ffffff;
    box-shadow: 0px 1px 3px #c3c3c3;
}

.peer:checked ~ .peer-checked\:after\:translate-x-full::after {
    transform: translateX(95%)!important;
}

.peer:checked ~ .peer-checked\:after\:translate-x-full::after{
    transform: translateX(100%)!important;
}

 .peer:checked ~ .peer-checked\:after\:border-white::after {
     content: var(--tw-content);
     --tw-border-opacity: 1;
     border-color: rgb(255 255 255);
 }

 .dtc-select-item:first-of-type{
     border-top-left-radius: 8px;
 }

.dtc-select-item:last-of-type{
    border-bottom-left-radius: 8px;
}

.overflow-hidden{
    overflow: auto;
}

.dtc-button-absolute{
    bottom: 7px;
    right: 7px;
}

.dtc-overflow-hidden{
    overflow: hidden;
}

.dtc-success-card{
    background-color: #00d6661f;
}

.dtc-danger-card{
    background-color: rgb(254 226 226);
}

.dtc-card{
    background: #fff;
    padding-top: 16px;
    padding-bottom: 16px;
    border-radius: 8px;
}

.dtc-button{
    cursor: pointer;
}

.dtc-disabled{
    pointer-events: none;
    opacity: 0.3;
}

.dtc-empty-table{
    font-size: 18px;
}

@media(max-width: 1320px){
    .dtc-modal{
        width: 50%!important;
    }
}